# Object Detection
## Racoon Detection

In [1]:
#import libraries
import numpy as np
import pandas as pd
np.random.seed(1)

Read train labels

In [5]:
dfLabels = pd.read_csv('../datasets/train_labels_.csv')

In [6]:
dfLabels.head()

         filename  width  height    class  xmin  ymin  xmax  ymax
0  raccoon-17.jpg    259     194  raccoon    95    60   167   118
1  raccoon-11.jpg    660     432  raccoon     3     1   461   431
2  raccoon-63.jpg    600     400  raccoon    74   107   280   290
3  raccoon-63.jpg    600     400  raccoon   227    93   403   298
4  raccoon-60.jpg    273     185  raccoon    58    33   197   127